/* LandingPage(랜딩 페이지 */

.LandingPage {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

/* LoginPage(로그인 페이지) */

.LoginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.LoginPage form {
  display: flex;
  flex-direction: column;
}

.LoginPage input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;

  padding: 7px 15px;
  width: 350px;
}

.LoginPage .loginBtn {
  border: none;
  background-color: #008cba;
  color: white;

  padding: 7px 0px;
  width: 350px;

  border-radius: 5px;

  font-weight: 400;
  font-size: 16px;

  cursor: pointer;

  margin-bottom: 7px;
}

.LoginPage h2 {
  font-size: 32px;
  text-align: center;
}

.LoginPage .signUpBtn {
  cursor: pointer;
  color: #008cba;
}

/* RegisterPage */

.RegisterPage .star {
  color: red;
}

.RegisterPage input {
  margin: 3px 0px;
}

.RegisterPage label {
  font-weight: 500;
}
